.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9;
    background-color: transparent;
    position: sticky;
}

.form {
    background-color: white;
}

select {
    width: 100%;
}

.form-btn-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tc {
    text-align: center;
}

.item-input-wrapper {
    display: flex;
    align-items: center;
}

.item-input-wrapper>div {
    margin: 5px;
    margin-top: 0;
}

.item-input-wrapper>button {
    width: auto;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black {
    border-color: #000;
}

.b--transparent {
    border-color: transparent;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.fw6 {
    font-weight: 600;
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color 0.15s ease-in;
}

.link:link,
.link:visited {
    transition: color 0.15s ease-in;
}

.link:hover {
    transition: color 0.15s ease-in;
}

.link:active {
    transition: color 0.15s ease-in;
}

.link:focus {
    transition: color 0.15s ease-in;
    outline: 1px dotted currentColor;
}

.w-100 {
    width: 100%;
}

.black-80 {
    color: rgba(0, 0, 0, 0.8);
}

.black {
    color: #000;
}

.bg-transparent {
    background-color: transparent;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-bg-black:hover {
    background-color: #000;
}

.hover-bg-black:focus {
    background-color: #000;
}

.pa0 {
    padding: 0;
}

.pa2 {
    padding: 0.5rem;
}

.pa4 {
    padding: 2rem;
}

.pv2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ma0 {
    margin: 0;
}

.mt3 {
    margin-top: 1rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: 0.875rem;
}

.measure-1 {
    width: 22em;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.measure-2 {
    width: 22em;
    max-height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .measure-1 {
        max-height: 35vh;
        padding: 0 20px;
    }

    .measure-2 {
        max-height: 4rem;
    }
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.dim {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}

.dim:hover,
.dim:focus {
    opacity: 0.5;
    transition: opacity 0.15s ease-in;
}

.dim:active {
    opacity: 0.8;
    transition: opacity 0.15s ease-out;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(0.9);
}

.pointer:hover {
    cursor: pointer;
}